{% extends "Aplicacion/index.html" %}

{% load static %}

{% block contenidoVariable%}

<!-- Services Section -->
<div class="wrap services-wrap" id="services">
    <section class="grid grid-pad services">
        <h2>Herramientas</h2>
        <div class="col-1-4 service-box service-1" >
            <div class="content">
                <div class="service-icon">
                    <i class="circle-icon icon-star4"></i>
                </div>
                <div class="service-entry">
                    <h3>Registrar nueva aparición</h3>
                    <a class="btn read-more" href="{% url 'nuevaAparicion'%}">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-1-4 service-box service-2" >
            <div class="content">
                <div class="service-icon">
                    <i class="circle-icon icon-star4"></i>
                </div>
                <div class="service-entry">
                    <h3>Ingresar nuevo héroe</h3>
                    <a class="btn read-more" href="#0">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-1-4 service-box service-3">
            <div class="content">
                <div class="service-icon">
                    <i class="circle-icon icon-display"></i>
                </div>
                <div class="service-entry">
                    <h3>Listar apariciones</h3>
                    <a class="btn read-more" href="#0">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-1-4 service-box service-4" >
            <div class="content">
                <div class="service-icon">
                    <i class="circle-icon icon-display"></i>
                </div>
                <div class="service-entry">
                    <h3>Registrar nueva organización</h3>
                    <a class="btn read-more" href="#0">Ver más</a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- End Services Section -->
{% endblock %}
