{% extends "Aplicacion/index.html" %}

{% load static %}

{% block contenidoVariable%}
<!-- Contact Section -->
<div class="wrap contact" id="contact">
    <div class="grid grid-pad" >
        <h2>Nueva aparición</h2>
        <div>
            <div class="content contact-form">
                <form action="" method="POST"> {% csrf_token %}
                    {{ miFormulario.as_table }}
                    <input type="submit", value="Enviar">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Section -->

{% endblock %}
